.flex{
    display: flex;
}
.w-full{
    width: 100%;
}
.block{
    display: block;
}
.inline{
    display: inline;
}

.absolute{
    position: absolute;
}
.none{
    display: none;
}
.relative{
    position: relative;
}
.j-center{
    display: flex;
    justify-content: center;
}
.ml-mic{
    margin-left: 5px;
}
.mr-mic{
    margin-right: 5px;
}
.mt-mic{
    margin-top: 5px;
}
.mb-mic{
    margin-bottom: 5px;
}
.ml-min{
    margin-left: 10px;
}
.ml-med{
    margin-left: 15px;
}
.ml-max{
    margin-left: 30px;
}
.mr-min{
    margin-right: 10px;
}
.mr-med{
    margin-right: 15px;
}
.mr-max{
    margin-right: 30px;
}
.mt-min{
    margin-top: 10px;
}
.mt-med{
    margin-top: 15px;
}
.mt-max{
    margin-top: 30px;
}
.mb-min{
    margin-bottom: 10px;
}
.mb-med{
    margin-bottom: 15px;
}
.mb-max{
    margin-bottom: 30px;
}
.bg-black{
    background-color: #110813;
}
.br-10{
    border-radius: 10px;
}
.center{
    display: flex;
    align-items: center;

}
.j-end{
    justify-content: flex-end;
}
.text-default{
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: 15px;
    font-weight: revert;
    color: black;
}
.text-h{
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: 35px;
    font-weight: revert;
    color: black;
}
.j-start{
    justify-content: flex-start;
}
.mr-5{
    margin-right: 5%;
}
.ml-5{
    margin-right: 5%;
}
.mt-5{
    margin-right: 5%;
}
.mb-5{
    margin-right: 5%;
}
.hover-blue{

}
.hover-blue:hover{
    color: #0f408e;
}
a:hover {
    text-decoration: none;
}
.h-200px{
    height: 200px;
}
.h-full{
    height: 100%;
}
.mt-20{
    margin-top: 20%;
}
.media-gra1{
    display:none
}
.media-gra2{
    display:none
}
.none{
    display: none;
}
.shadow-none{
    box-shadow: 0 0 0 rgb(255, 255, 255);
}
.mr-75{
    margin-right: 75%;
}
.mr-50{
    margin-right: 50%;
}
.mr-25{
    margin-right: 25%;
}
.mr-0{
    margin-right: 0;
}
.ml-0{
    margin-left: 0;
}
.line-height-0{
    line-height: 0;
}
.line-height-20px{
    line-height: 20px;
}
.line-height-10px{
    line-height: 10px;
}
.line-height-40px{
    line-height: 40px;
}
.text-align-right{

}